/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

/* PAGE BACKGROUND */
body {
    background-color: #FFF7DD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header {
    background-color: #91C4C3;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

/* LOGO */
.logo {
    font-size: 48px;
    color: white;
    font-weight: bold;
}
.logo span {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


/* NAVIGATION */
.nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 40px;
    letter-spacing: 1px;
}

/* EMPTY CONTENT AREA */
.content {
    flex: 1;
}

/* FOOTER */
.footer {
    background-color: #91C4C3;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer text */
.footer {
    background-color: #a9cfcf;
    height: 120px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left text */
.footer-left {
    display: flex;
    gap: 12px;
}

.footer-left img {
    width: 100px;
    height: auto;
}

.footer-right {
    color: white;
    font-size: 22px;
}
.footer-left img {
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-left img:hover {
    transform: scale(1.1);
}


